<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Bitcoin" value="150"/>
  </appSettings>
  <connectionStrings>
    <add name="cnn" connectionString="Data Source=DESKTOP-J8201N8\SQLEXPRESS;Initial Catalog=Parcial1;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>